.App {
  background-color: var(--mainbg);
  height: 100vh;
  max-height: 100%;
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: min(calc(8px + 2vw), 30px);
  color: white;
  text-align: center;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
.App::-webkit-scrollbar {
  display: none;
}

.Game {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  min-height: 0;
  height: 100%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-areas: 'top top top' 'mid mid mid' 'bot bot bot';
  color: white;
  text-align: center;
}

button {
  box-sizing: border-box;
  display: inline-block;
  background-color: inherit;
  padding: 1vmin 2vmin;
  border: 2px solid var(--active_outline);
  border-radius: 0.5vmin;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.7em;
  color: var(--active_outline);
  transition: all 0.2s;
  margin: 0px;
  min-width: fit-content;
}

button:hover {
  cursor: pointer;
}

.disabled {
  border: 2px solid gray;
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.45;
  filter: alpha(opacity=45);
  -webkit-box-shadow: none;
  box-shadow: none;
}