.card_row {
  grid-area: bot;
  box-sizing: border-box;
  display: grid;
  width: 100%;
  padding: 0px 5vmin;
  height: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'bot1 bot1 bot1' 'bot2 bot2 bot2';
  text-align: center;
}

.working_row {
  grid-area: bot1;
  box-sizing: border-box;
  padding: 2px 0vmin;
  display: grid;
  grid-template-columns: 2.8em 1fr 2.8em;
  grid-template-rows: auto;
  grid-template-areas: 'left middle right';
  grid-column-gap: 5px;
  text-align: center;
}

.clear_button, .place_button {
  width: 4em;
  height: 4.8em;
  padding: 0.2em 0.6em;
  margin: 0px;
}

.clear_button {
  grid-area: left;
}

.place_button {
  grid-area: right;
}

.working_row_slot {
  grid-area: middle;
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.working_row_content {
  width: fit-content;
  margin: 1px;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
  scrollbar-width: none;
}
.working_row_content::-webkit-scrollbar {
  display: none;
}

.available_cards {
  grid-area: bot2;
  display: flex;
  margin-top: 2px;
  margin-bottom: 4px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.available_cards button {
  padding: 0.1em;
  border: 1px solid;
  font-size: 0.7em;
  height: 100%;
  width: 10%;
  margin: 3px 0px;
}

.working_row_message {
  height: 100%;
  color: black;
}

.card {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'tl tr' 'b b';
  margin: 0px 1px;
  width: fit-content;
  flex: 1 0 auto;
  color: black;
  border: 1px solid black;
}

.typename {
  grid-area: tl;
  box-sizing: border-box;
  margin-left: 0.3em;
  margin-bottom: 0px;
  padding: 0.2em 0.4em;
  font-size: 0.6em;
  text-align: left;
}

.card button {
  grid-area: tr;
  margin: 0.4em;
  margin-top: 0px;
  width: auto;
  height: 100%;
  color: black;
  padding: 0px;
  border: none;
}

.input_div {
  grid-area: b;
  display: flex;
  flex-grow: 1;
  width: auto;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
}

.input_div input {
  border: none;
  border-bottom: black solid 1px;
  font: inherit;
  width: 97%;
  font-size: 1em;
  box-sizing: border-box;
  padding: 0px;
  overflow: hidden;
  margin: 0px 4px 4px 4px;
  padding: 1px 0px 1px 0px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.adj {
  background-color: var(--adj);
  color: black;
  border-color: black;
}

.noun {
  background-color: var(--noun);
  color: black;
  border-color: black;
}

.adv {
  background-color: var(--adv);
  color: black;
  border-color: black;
}

.verb {
  background-color: var(--verb);
  color: black;
  border-color: black;
}

.conj {
  background-color: var(--conj);
  color: black;
  border-color: black;
}

.prep {
  background-color: var(--prep);
  color: black;
  border-color: black;
}

.pron {
  background-color: var(--pron);
  color: black;
  border-color: black;
}

.intrj {
  background-color: var(--intrj);
  color: black;
  border-color: black;
}