.App_header {
  font-size: 2.6em;
  background-image: linear-gradient(to top, #21242b, #383f4d);
  box-sizing: border-box;
  height: auto;
  padding: 1.5vmin 3vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header_logo {
  color: var(--active_outline);
  text-align: left;
  flex: 1;
}

.Header_logo a {
  text-decoration: none;
}

.Header_logo a:visited {
  color: var(--active_outline);
}

.Header_logo a:hover {
  color: lightslategray;
}

.Header_logo a:active {
  color: darkslategray;
}
