.sharing_popup {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  max-width: 960px;
  text-align: left;
  background: gainsboro;
  border: 1px solid black;
  color: black;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.sharing_popup button {
  display: inline-block;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  background-color: inherit;
  padding: none;
  font-weight: 300;
  font-size: 1em;
  color: var(--active_outline);
  transition: all 0.2s;
  width: auto;
}

.sharing_popup button:visited {
  color: var(--active_outline);
}

.sharing_popup button:hover {
  color: lightslategray;
  cursor: pointer;
}

.sharing_popup button:active {
  color: darkslategray;
}

.sharing_canvas {
  margin-top: 0.6em;
  box-shadow: 2px 2px 5px black;
}

.sharing_popup label {
  font-size: 0.8em;
}

.sharing_popup canvas {
  width: 100%; 
  min-height: 100%;
  margin: 0.8em 0;
  box-shadow: 2px 2px 5px slategray;
}

.sharing_popup textarea {
  box-sizing: border-box;
  font: inherit;
  margin: 0.5em 0;
  width: 100%;
}

.sharing_button_row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.sharing_button_row button {
  margin: 0px;
}
