

      
      .header_punctuation {
        color: var(--active_outline);
        padding-left: 5vmin;
        width: auto;
      }

      .header_punctuation button {
        display: inline-block;
        text-decoration: none;
        border: none;
        box-sizing: border-box;
        padding: none;
        font-weight: 300;
        font-size: 1em;
        color: var(--active_outline);
        transition: all 0.2s;
        width: auto;
      }


      .header_punctuation button:visited {
        color: var(--active_outline);
      }

      .header_punctuation button:hover {
        color: var(--logo_hover);
        cursor: pointer;
      }

      .header_punctuation button:active {
        color: darkslategray;
      }
