@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* CLEANUP COMPLETE:
   - Removed :root variables (moved to _app.js theme)
   - Removed .container & .gameContent (replaced by Mantine Box in index.js)
   - Removed .adj, .noun, etc. (replaced by Mantine theme colors)
   - Removed .popup, .z2 (replaced by Mantine Modal)
   - Removed button styles (replaced by Mantine Button)
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* Matches 'darkCharcoal' in _app.js to ensure full coverage */
  background-color: black;
  color: white;
  height: 100%;
  -ms-overflow-style: none;
}

* {
  box-sizing: border-box;
}

/* Basic Link Styling - keeping generic white/hover behavior just in case */
a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover,
a:active {
  color: #cccccc;
}
