:root {
  --mainbg: #282c34;
  --bodybg: #1e1e1e;
  --active_outline: lightgray;
  --conj: yellow; 
  --adj: lightskyblue;
  --noun: dodgerblue;
  --adv: pink;/* #BC70A4; pink; */
  --verb: #CE3175;/* #CE3175; salmon; */
  --intrj: orange; /* #F2552C; orange; */
  --prep: lime;  /* #A6E22E */
  --pron: fuchsia;
  --punc: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bodybg);
}